<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shch.demo.userinfo.mapper.UserInfoMapper">
    
    <select id="readUser" parameterType="String" resultType="com.shch.demo.userinfo.dto.UserInfo">
        SELECT * FROM USER_INFO WHERE username = #{username}
    </select>
    
    <select id="readAuthority" parameterType="String" resultType="String">
        SELECT authorityname FROM USER_AUTH WHERE username = #{username}
    </select>

	<select id="getUserInfo" resultType="com.shch.demo.userinfo.dto.UserInfo"> 
		SELECT userno
		     , usertype
		     , '' as uid
		     , username
		     , name
             , email
             , deptcd
             , poscd
             , tel
             , addr
             , addrdtl
             , useflag
             , langcd
             , lastlogindt
             , lastloginip
             , regcd
             , regdt
             , modcd
             , moddt 
		FROM USER_INFO 
		WHERE userno = #{userno} 
	</select> 
	
	<select id="getUserList" resultType="com.shch.demo.userinfo.dto.UserInfo"> 
		SELECT userno
		     , usertype
		     , '' as uid
		     , username
		     , name
             , email
             , deptcd
             , poscd
             , tel
             , addr
             , addrdtl
             , useflag
             , langcd
             , lastlogindt
             , lastloginip
             , regcd
             , regdt
             , modcd
             , moddt 
		FROM USER_INFO 
	</select> 
	
	<insert id="insertUser" parameterType="com.shch.demo.userinfo.dto.UserInfo"> 
		INSERT INTO USER_INFO (
			   userno
		     , usertype
		     , username
		     , name
		     , password
             , email
             , deptcd
             , poscd
             , tel
             , addr
             , addrdtl
             , useflag
             , langcd
             , regcd
             , regdt		
		) VALUES ( 
			   (SELECT MAX(USERNO)+1 FROM USER_INFO ALIAS_FOR_SUBQUERY)
		     , 'IN'
		     , #{uid}
		     , #{name}
		     , #{password}
             , #{email}
             , #{deptcd}
             , #{poscd}
             , #{tel}
             , #{addr}
             , #{addrdtl}
             , 'Y'
             , 'KO'
             , #{username}
             , sysdate()	
		) 
	</insert> 
	
	<update id="updateUser" parameterType="com.shch.demo.userinfo.dto.UserInfo"> 
		UPDATE USER_INFO SET 
			name = #{name} 
		  , password = #{password} 
		  , email = #{email} 
		WHERE userno = #{userno} 
	</update> 
	
	<delete id="deleteUser" parameterType="int"> 
		DELETE FROM USER_INFO WHERE userno = #{userno} 
	</delete>
    
</mapper>