<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shch.demo.userinfo.mapper.UserInfoMapper">
    
    <select id="readUser" parameterType="String" resultType="com.shch.demo.userinfo.dto.UserInfo">
        SELECT * FROM USER_INFO WHERE username = #{username}
    </select>
    
    <select id="readAuthority" parameterType="String" resultType="String">
        SELECT rolecd FROM USER_AUTH WHERE roleuser = #{username}
    </select>

	<select id="getGridUserInfo" resultType="com.shch.demo.userinfo.dto.UserInfo">
		SELECT userno
		     , usertype
		     , username
		     , name
		     , password
             , email
             , deptcd
             , deptnm
             , usersts
             , poscd
             , tel
             , addr
             , addrdtl
             , useflag
             , langcd
             , lastlogindt
             , lastloginip
             , regcd
             , regdt
             , modcd
             , moddt 
		FROM USER_INFO 
		WHERE username = #{username} 	
	</select>

	<select id="getUserInfoNo" resultType="com.shch.demo.userinfo.dto.UserInfo">
		SELECT userno		     
		FROM USER_INFO 
		WHERE username = #{username} 	
	</select>

	<select id="getUserInfo" resultType="com.shch.demo.userinfo.dto.UserInfo"> 
		SELECT userno
		     , usertype
		     , username
		     , name
             , email
             , deptcd
             , deptnm
             , usersts
             , poscd
             , tel
             , addr
             , addrdtl
             , useflag
             , langcd
             , lastlogindt
             , lastloginip
             , regcd
             , regdt
             , modcd
             , moddt 
		FROM USER_INFO 
		WHERE userno = #{userno} 
	</select> 
	
	<select id="getUserList" resultType="com.shch.demo.userinfo.dto.UserInfo"> 
		SELECT userno
		     , usertype
		     , username
		     , name
             , email
             , deptcd
             , deptnm
             , usersts
             , poscd
             , tel
             , addr
             , addrdtl
             , useflag
             , langcd
             , lastlogindt
             , lastloginip
             , regcd
             , regdt
             , modcd
             , moddt 
		FROM USER_INFO 
	</select> 
	
	<select id="userRoleList" parameterType="com.shch.demo.userinfo.dto.UserInfo" resultType="com.shch.demo.role.dto.Role">
		select a.rolecd
		      ,a.rolenm
		      ,(select 'Y' from user_auth b where b.rolecd = a.rolecd and b.roleuser = #{username})	as useflag
		      ,#{username} as roleuser		      
	    from role a	
	    order by a.rolecd
	</select>

	<insert id="mergeUserInfo"> 
		merge user_info t
		using (select  #{userno} as userno
				     , 'IN' as usertype
				     , #{username} as username
				     , #{name} as name
				     , #{password} as password
		             , #{email} as email
		             , #{deptcd} as deptcd
		             , #{deptnm} as deptnm
                     , '2' as usersts
		             , #{poscd} as poscd
		             , #{tel} as tel
		             , #{addr} as addr
		             , #{addrdtl} as addrdtl
		             , 'Y' as useflag
		             , 'KO' as  langcd
		             , #{sid} as regcd 
		             , getdate() as regdt 		
		             , #{sid} as modcd
		             , getdate() as moddt
		) s on t.userno = s.userno and t.username = s.username
		when matched then
			update set
		        usertype = s.usertype   
		      , name      = s.name        
		      , password  = s.password    
              , email     = s.email       
              , deptcd    = s.deptcd
              , deptnm    = s.deptnm   
              , usersts    = s.usersts         
              , poscd     = s.poscd       
              , tel       = s.tel         
              , addr      = s.addr        
              , addrdtl   = s.addrdtl     
              , useflag   = s.useflag     
              , langcd    = s.langcd      
              , modcd     = s.modcd       
              , moddt	  = s.moddt						
		when not matched then
			insert (
			   userno
		     , usertype
		     , username
		     , name
		     , password
             , email
             , deptcd
             , deptnm   
             , usersts
             , poscd
             , tel
             , addr
             , addrdtl
             , useflag
             , langcd
             , regcd
             , regdt		
			) values (
			   s.userno
		     , s.usertype
		     , s.username
		     , s.name
		     , s.password
             , s.email
             , s.deptcd
             , s.deptnm   
             , s.usersts
             , s.poscd
             , s.tel
             , s.addr
             , s.addrdtl
             , s.useflag
             , s.langcd
             , s.regcd
             , s.regdt	
		    ); 
	</insert> 
	
	<insert id="insertUser" parameterType="com.shch.demo.userinfo.dto.UserInfo"> 
		INSERT INTO USER_INFO (
			   userno
		     , usertype
		     , username
		     , name
		     , password
             , email
             , deptcd
             , deptnm   
             , usersts
             , poscd
             , tel
             , addr
             , addrdtl
             , useflag
             , langcd
             , regcd
             , regdt	
		) VALUES ( 
			   #{userno}
			  , 'IN'
		      , #{username}
		      , #{name} 
		      , #{password}
		      , #{email}
		      , #{deptcd}
		      , #{deptnm}   
              , #{usersts}
		      , #{poscd}
		      , #{tel}
		      , #{addr} 
		      , #{addrdtl} 
		      , 'Y'
		      , 'KO'
		      , #{sid}
		      , getdate()
		) 
	</insert> 
	
	<update id="updateUser" parameterType="com.shch.demo.userinfo.dto.UserInfo"> 
		UPDATE USER_INFO SET 
			name = #{name} 
		  , email = #{email} 
		WHERE userno = #{userno} 
	</update> 
	
	<delete id="deleteUser" parameterType="int"> 
		DELETE FROM USER_INFO WHERE userno = #{userno} 
	</delete>
    
    <update id="userUpdateBatch">
	    merge user_info as t
		using (select #{userno} as userno
		             ,#{username} as username
				     ,#{name} as name
				     ,#{deptcd} as deptcd
					 ,#{deptnm} as deptnm
					 ,#{email} as email
				     ,#{usersts} as usersts
				     ,'batch' as regcd
				     ,'batch' as modcd
				     ,getdate() as regdt
				     ,getdate() as moddt
		) as s
		on (t.username = s.username)
		when matched then
			update set 
				deptcd = s.deptcd
			   ,deptnm = s.deptnm		
			   ,usersts = s.usersts
			   ,modcd = s.modcd
			   ,moddt = s.moddt
		when not matched then
			insert (
				userno
			   ,username
			   ,usertype	
			   ,name
			   ,deptcd
			   ,deptnm
			   ,email
			   ,usersts
			   ,useflag
               ,langcd
			   ,regcd
			   ,regdt
			   ,modcd
			   ,moddt
			) values (
			    s.userno
			   ,s.username
			   ,'IN'	
			   ,s.name
			   ,s.deptcd
			   ,s.deptnm
			   ,s.email
			   ,s.usersts
			   ,'Y'
			   ,'KO'
			   ,s.regcd
			   ,s.regdt
			   ,s.modcd
			   ,s.moddt
			);
    </update>
    
    <update id="updatePasswordUser" parameterType="com.shch.demo.userinfo.dto.UserInfo">
		UPDATE USER_INFO SET 
		    password = #{password}  
		WHERE userno = #{userno}     
    </update>
    
</mapper>