body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.tb-basic {
	margin-top:60px;
	margin-bottom:60px;
}

.navbar-center {
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.file-btn-label{
	float: right;
	margin-bottom: 0;
	margin-left:3.4px;
}
