<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shch.demo.loginhistory.mssql.mapper.MsLoginhistoryMapper">
    
    <insert id="insertLoginhistory" parameterType="Map">
        INSERT INTO USER_LOGIN_HIST (
        	username
           ,logindt
           ,loginip
           ,regdt
        ) VALUES (
        	#{username}
           ,getdate()
           ,#{ip}
           ,getdate()
        )
    </insert>
    
</mapper>